@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans Narrow";

  font-display: swap;
  src:
    url("../fonts/pt-sans-narrow-regular.woff2") format("woff2"),
    url("../fonts/pt-sans-narrow-regular.woff") format("woff"),
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans Narrow";

  font-display: swap;
  src:
    url("../fonts/pt-sans-narrow-700.woff2") format("woff2"),
    url("../fonts/pt-sans-narrow-700.woff") format("woff"),
}
